<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: '<%= @title %> Stats',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: Database',
                x: -20
            },
            xAxis: {
categories: [
            <% payload.each do |c, v| %>        
                    "<%= c %>",
            <% end %>
            ]
            },
            yAxis: {
                title: {
                    text: 'Count'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                            this.x +': '+ 
                            <% if daytoday %>
                                this.y + '%';
                            <% elsif type == 'storage' %>
                            bytesToSize(this.y);
                            <% else %>
                                    this.y;
                        <%end %>
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
name: "<%= title %>",
            data: [
                <% if daytoday %>
                    <% process(payload).each do |m, v| %>
                        <% if v[2] > 10000 %>
                            <%= 0 %> ,
                        <% else %>
                        <%= v[2] * 100 %>,
                    <% end %>

                    <%end %>
                <% else %>
                    
                    <% payload.each do |m, v| %>
                        <%= v %>, 
                    <%end %>
                <% end %>
                ]
            }]
        });
    });
    
});

function bytesToSize(bytes) {
    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
    if (bytes == 0) return 'n/a';
    var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
    return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
};
        </script>
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
